# Node Modules
frontend/node_modules/
backend/node_modules/

# Environment Variables
backend/.env
frontend/.env

# Logs
*.log

# Build folders
frontend/dist/
backend/dist/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/